.App {
    text-align: center;

}

//SHARED EXTENDED STYLES
%card-container {
    width: 100%;
    background: rgb(42,39,53);
    background: linear-gradient(180deg, rgba(42,39,53,1) 0%, rgba(70,68,79,1) 100%);
    border-radius: 4px 4px 0px 0px;
    box-sizing: border-box;
}

%card-shadow {
    border-radius: 4px;
    border-color: #efefef;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

%card-pill {
    text-align: center;
    
    text-transform: uppercase;
    display:block;
    margin-left:15px;
    padding: 2px 10px;
    height:25px;
    line-height: 25px;
    border-radius: 20px;
}

.container {
    margin: 55px;
    padding:30px;
    border-radius:10px;
    background: rgba(42, 42, 44, 0.6);
}

.time {
    font-weight: 700;
}



