
@import './Dashboard.scss';

.card-status-pill{
    @extend %card-pill;
    color:#fff;
    font-weight: 700;
    background: #000;

  
}

.health-card-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    

    .health-card {
        display: grid;
        padding-bottom:10px;

        @extend %card-container;

        &__shadow {
            @extend %card-shadow;
        }

        p{ 
            margin:0;  
            font-weight: 700;
            text-transform: uppercase;
            font-size:1.2em;
          }

          .countdown{
            display:flex;
             justify-content: space-between;
        
            p {
                font-size:1em;
                color: #fff;
                font-weight: 700;
                padding:5px 15px;
                text-transform: none;

                &.title {
                    text-transform: uppercase;
                }
            }
        }

         

        &-status{
            display: flex;
            justify-content: space-between;
            align-content: center;
            background: rgb(221,221,221);
            background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(207,205,205,1) 100%);
            padding:10px;

            .incident-time{
                font-weight:700;
            }
        }

        &-content {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;
            padding:10px;

            span{
                font-weight: 700;
                font-size: 1.2em;

            }

            h2{
                color: #fff;
                font-weight:400;
            }

            .logo{
                justify-self: center;
            }

         
        }

        &-success {
            padding: 10px 15px;
           // font-weight: 700;
            color:#2ef1c9;
        }

        &-error{

            padding: 10px 15px;
            color: #f65e5f;
        }

        &-header{
            display:flex;
            background: #3F3D49;
            justify-content: space-between;
            align-content: center;
            border-radius: 5px 5px 0px 0px;



            h4 {
               @extend %card-pill;
               color:#fff;

                &.healthy {
                    background: rgb(46,241,201);
                    background: linear-gradient(270deg, rgba(46,241,201,1) 0%, rgba(38,175,165,1) 100%);             }

                &.down {
                    background: rgb(236,79,62);
                    background: linear-gradient(90deg, rgba(236,79,62,1) 0%, rgba(230,36,100,1) 100%);
                }

            }
        }

    }
}