
.card-status-pill {
    @extend %card-pill;
    color: var(--light-grey);
    font-weight: 700;
    background: var(--darkest-grey);
}

.card-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .card {
        display: grid;
        grid-template-rows: 80px 1fr 1fr 80px;

        @extend %card-container;

        &__shadow {
            @extend %card-shadow;
        }

        p {
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2em;
        }

        .item {
            padding-left: 15px;
            padding-right: 15px;
        }

        &-header {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: 150px 1fr;
            align-content: center;
            background-color: var(--primary-grey);
            border-radius: 5px 5px 0 0;


            &-icon {
                justify-self: end;
                align-self: center;
            }

            h4 {
                @extend %card-pill;
                color: var(--white);

                &.healthy {
                    background: var(--success-primary);
                    background: linear-gradient(270deg, var(--success-primary) 0%, var(--success-secondary) 100%);
                }

                &.down {
                    background: var(--error-primary);
                    background: linear-gradient(90deg, var(--error-primary) 0%, var(--error-secondary) 100%);
                }

            }
        }

        &-content {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;
            padding: 10px;

            span {
                font-weight: 700;
                font-size: 1.2em;

            }

            h2 {
                color: var(--light-grey);;
                font-weight: 400;
                text-transform: uppercase;
            }

            .logo {
                justify-self: center;
            }


        }

        &-status {

            .message{
                padding:5px;
            }

            &-success {
                padding: 10px 15px;
                text-align: center;
                color: var(--success-primary);

                .incident-date {
                    @extend %card-pill;
                    background: var(--darkest-grey);
                    font-weight: 700;
                    margin-top: 10px;
                }
            }

            &-error {
                padding: 10px 15px;
                color: var(--error-primary);
                text-align: center;
                padding-bottom: 5px;
            }
        }

        &-countdown {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 10px;
            align-content: end;

            &-time {
                justify-self: end;
            }

            p {
                font-size: 1em;
                color: var(--light-text);
                font-weight: 700;
                padding: 5px 15px;
            }
        }
    }
}