.heart-rate {
    width: 115px;
    padding-top:10px;
    position: relative;
  }
  
  .fade-in {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #3F3D49;
    top: 0;
    right: 0;
    animation: heartRateIn 3.2s linear infinite;
  }
  
  .fade-out {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    animation: heartRateOut 3.2s linear infinite;
    background: #3F3D49;
    background: linear-gradient(to right, #3F3D49 0%, #3F3D49 80%, rgba(51, 51, 51, 0) 100%);
  }
  
  @keyframes heartRateIn {
    0% {
      width: 100%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes heartRateOut {
    0% {
      left: -85%;
    }
    30% {
      left: -75%;
    }
    100% {
      left: 0;
    }
  }