.heart-rate {
    width: 115px;
    padding-top:10px;
    position: relative;
  }
  
  .fade-in {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: var(--primary-grey);
    top: 0;
    right: 0;
    animation: heartRateIn 3.2s linear infinite;
  }
  
  .fade-out {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    animation: heartRateOut 3.2s linear infinite;
    background: var(--primary-grey);
    background: linear-gradient(to right, var(--primary-grey) 0%, var(--primary-grey) 80%, var(--fade-to-black) 100%);
  }
  
  @keyframes heartRateIn {
    0% {
      width: 100%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes heartRateOut {
    0% {
      left: -85%;
    }
    30% {
      left: -75%;
    }
    100% {
      left: 0;
    }
  }